<div class="accordion-item">
  <h2 class="accordion-header" id="head-paso2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#paso2" aria-expanded="true" aria-controls="paso2">
          Paso 2 - Revisar textos
      </button>
  </h2>
  <div id="paso2" class="accordion-collapse collapse show" aria-labelledby="paso2" data-bs-parent="#accordion-recognizer">
      <div class="accordion-body">
          <div class="card">
            <img [src]="mermaidUrl" class="img-fluid card-img-top" alt="Mermaid diagram" *ngIf="mermaidUrl">
            <ul class="list-group list-group-flush" *ngFor="let block of mermaidBlocks">
              <app-block [block]="block"></app-block>
            </ul>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button type="button" (click)="subeCambiosMermaid()" [disabled]="isServiceWorking" [disabled]="mermaidBlocks.length == 0">Actualizar diagrama</button></li>
              <li class="list-group-item" *ngIf="isMermaidBlocksChanges"><div class="alert alert-warning">Existen cambios en los bloques con respecto al diagrama mostrado</div></li>
            </ul>
          </div>
      </div>
  </div>
</div>