
Tensorflow-Training/.idea/workspace.xml
.idea/workspace.xml
*.pyc
*.iml
Tensorflow-Training/.idea/Tensorflow-Training.iml
Tensorflow-Training/.idea/workspace.xml
Tensorflow-Training/.idea/misc.xml
Tensorflow-Training/.idea/misc.xml
API/.idea/vcs.xml
API/.idea/Sidekick-S-api.iml
API/.idea/misc.xml
API/.idea/misc.xml
API/.idea/Sidekick-S-api.iml
API/.idea/vcs.xml
