<li class="list-group-item">
    <p><strong>{{block.object_type}}</strong></p>
    <p>Texto:<input
        type="text"
        class="form-control"
        placeholder="Cambiar texto"
        (keyup)="cambiarTexto()"
        value={{block.text}}
        [disabled]="isServiceWorking"
        #textoBloque
    ></p>

    <div *ngIf="block.object_type == 'decision'">
        <div *ngFor="let condicion of block.next_blocks_conditionals | keyvalue">
            <app-condicion [siguienteBloque]="condicion.key" [condicion]="condicion.value" (modificaCondicion)="modificaCondicion($event)"></app-condicion>
        </div>
    </div>
</li>